@import "tailwindcss";

main {
  background-color: #f8fafc;
  border-radius: 2rem;
  padding: 1.5rem;
}

aside button {
  border-radius: 1rem;
}

aside div {
  border-radius: 1rem;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
}
